@use "sass:math";
@use '_settings'as *;
@use '_mixins/index'as *;
@use '_unsass/breakpoint';

// 20230411 add pc

$global-pc-drawer-height: 20px;
$global-pc-border-width: 2px;

.is-drawer-open {
	.fixfooter__btn {
		z-index: 0;
	}
}
.c-drawer-overlay {
	background-color: rgba(#000, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.fs-l-header {
	padding-top: 0;
	&__contents {
		//	background-color: #000;
		width: 100%;
		padding: 10px 6px;
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 0px 0px;
		grid-template-areas: "left logo utility";

		> * {
			padding: 0;
		}
	}

	&__left {
		display: flex;
		flex-wrap: wrap;
		grid-area: left;
		align-items: center;
		height: 100%;
		padding-left: 24px;
		//	gap: 0 8px;
		.header-left {
			&__navi {
				&.c-drawer-menu {
					button {
						position: relative;
						width: 26px;
						height: auto;
						aspect-ratio: 1/1;
						padding: 0;
						background-color: transparent;
						border: none;
						.sp-menu-btn {
							position: relative;
							width: 100%;
							height: $global-pc-drawer-height;
							background-color: transparent;

							span {
								//	display: inline-block;
								transition: all 0.2s ease;
								position: absolute;
								left: 0;
								width: 100%;
								height: $global-pc-border-width;
								background-color: #000;

								&:nth-of-type(1) {
									top: 0;
								}
								&:nth-of-type(2) {
									top: 50%;
								}

								&:nth-of-type(3) {
									top: 100%;
								}
							}
						}

						&.is-open {
							.sp-menu-btn {
								span {
									&:nth-of-type(1) {
										transform: translateY(#{math.div($global-pc-drawer-height, 2)}) rotate(-45deg);
									}

									&:nth-child(2) {
										opacity: 0;
									}

									&:nth-of-type(3) {
										transform: translateY(-#{math.div($global-pc-drawer-height, 2)}) rotate(45deg);
									}
								}
							}
						}
					}
				}
			}

			&__global {
				margin-left: 20px;
				a {
				}

				.global-icon {
					width: 28px;
					height: auto;
					aspect-ratio: 1/1;
				}
			}

			&__search {
				margin-left: 20px;

				.fs-p-searchForm__input {
					width: 170px;
				}

				.fs-p-inputGroup {
					border-top: none;
					border-left: none;
					border-right: none;
					border-bottom: 1px solid #65605e;
					background-color: transparent;
					input {
						background-color: transparent;
						&:focus {
							border: none;
							box-shadow: none;
						}
					}

					&__button {
						background: transparent;

						&::before {
							color: #65605e;
						}
					}
				}
			}
		}
	}

	&__logo {
		grid-area: logo;

		.fs-p-logo {
			padding: 0;
		}
	}

	&__utility {
		grid-area: utility;

		.fs-p-headerUtilityMenu {
			li {
				margin: 0;
				&:not(:first-child) {
					//	margin-left: 8px;
				}
			}
			.favorite {
				span {
					a {
						background: inline("icon_favorite.svg") no-repeat center center;
						background-size: 26px auto;
					}
				}
			}

			.mypage {
				span {
					a {
						background: inline("icon_mypage.svg") no-repeat center center;
						background-size: 26px auto;
					}
				}
			}

			.cart {
				span {
					a {
						background: inline("icon_cart.svg") no-repeat center center;
						background-size: 26px auto;
					}
				}
			}
		}
	}

	&__gnav {
		background-color: #fff;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100vw;
		max-width: 300px;
		display: none;
		z-index: 10;
		letter-spacing: 0;
		color: #000;

		a {
			color: #000;
		}
		&.is-open {
			display: block;
		}

		.header-gnav {
			&__welcomeMsg {
				position: relative;
				z-index: 2;
				display: grid;
				grid-auto-columns: 1fr;
				grid-template-columns: 40px 1fr;
				grid-template-rows: auto;
				gap: 0px 0px;
				grid-template-areas: "close welcome";
				padding: 30px 20px 0;
				line-height: 1.4;
				font-size: 14px;

				.gnav {
					&__close {
						grid-area: close;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&__welcomeMsg-wrap {
						grid-area: welcome;
						text-align: right;

						//padding-right: 8px;
						.fs-p-welcomeMsg {
							display: block;
						}

						.fs-p-memberInfo__points {
							font-weight: 400;
						}
					}
				}
			}

			&__inner {
				height: 100%;
				border-right: 1px solid #dbd7d7;
				background-color: #fff;
				//	margin-top: 81px;
				//overflow-x: hidden;
				overflow-y: auto;
				max-height: 100vh;
			}

			&__nav {
			}

			&__lists {
				padding: 18px 28px;

				> li {
					> a {
						display: block;
						width: 100%;
						text-align: left;
						font-size: 14px;
						&::before {
							opacity: 0;
							transition: opacity 0.4s ease-in-out;
						}

						&.is-open,
						&:hover {
							&::before {
								opacity: 1;
							}
						}
					}

					&:not(:first-child) {
						margin-top: 14px;
					}
				}

				.has-child {
					&__navi {
						padding-right: 20px;
						position: relative;
						z-index: 0;
						&::before {
							content: "";
							background: inline("icon-arrow-right.svg") no-repeat center center;
							width: 10px;
							height: 16px;
							position: absolute;
							right: 2px;
							top: 8px;
							bottom: 0;
							margin: auto 0;
						}
					}
				}
				.gnav_submenu {
					display: none;
					background-color: #fff;
					width: 100%;
					max-width: 564px;
					position: fixed;
					left: 0;
					top: 0;
					height: 100%;
					padding: 90px 40px 40px 330px;
					//margin-left: 300px;
					z-index: -1;
					text-align: left;
					overflow-y: auto;
					max-height: 100vh;

					&.is-menu-show {
						li {
							opacity: 1;
						}
					}

					li {
						font-size: 12px;
						opacity: 0;
						&:not(:first-child) {
							margin-top: 4.6px;
						}

						.sns-img {
							width: 16px;
							aspect-ratio: 1/1;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto 0;
							svg {
								width: 16px;
								height: auto;
							}
						}

						.red {
							color: #ff0004;
						}
					}

					&.sns-lists {
						> li {
							a {
								padding-left: 24px;
								position: relative;
							}
						}
					}

					&.has-child {
						&__Search {
							max-width: 1400px;
							//	min-width: 1100px;
						}
					}

					&.is-open {
						display: block;
					}

					.fs-p-productSearch {
						padding: 0;

						&__search_wrap {
							padding: 0;
						}

						&__form {
							padding: 0;
						}

						&__field {
							display: grid;
							grid-auto-columns: 1fr;
							grid-template-columns: 1fr 1fr 1fr;
							grid-template-rows: auto;
							gap: 30px 30px;
							grid-template-areas: "left center right";

							@media screen and (max-width: 1399.98px) {
								grid-template-columns: 1fr 1fr;
								grid-template-rows: auto auto;
								grid-template-areas: "left right" "center right";
							}

							@media screen and (max-width: 1079.98px) {
								grid-template-columns: 1fr;
								grid-template-rows: auto auto auto;
								grid-template-areas: "left" "center" "right";
							}

							.fs-c-dropdown {
								&__menu {
									cursor: pointer;
								}

								&::after {
									font-size: 30px;
									width: 40px;
									box-sizing: border-box;
								}
							}

							.fs-c-radio {
								&__radio {
									display: none;

									&:checked {
										+ label {
											> .fs-c-radio__radioMark {
												//margin-right: 14px;
												border-color: #000;
												&::before {
													background-color: #000;
												}
											}
										}
									}

									+ label {
										> .fs-c-radio__radioMark {
											margin-right: 6px;
										}
									}
								}

								&__radioLabelText {
									font-size: 12px;
								}
								&__radioMark {
									&::before {
									}
								}
							}

							.fs-c-checkbox {
								&__checkbox {
									display: none;
									&:checked {
										+ label {
											> .fs-c-checkbox__checkMark {
												background: #000;
												border-color: #000;
											}
										}
									}
								}

								&__labelText {
									font-size: 12px;
								}

								span {
									//font-size: inherit;
								}
							}

							input[type="text"],
							select {
								border: 1px solid #959595;
								border-radius: 0;
								padding: 4px;
							}

							.fs-p-productSearch__inputTable {
								tr {
									&.tr-mt18 {
										margin-top: 18px;
									}

									&.tr-mt48 {
										margin-top: 48px;
									}
								}
								th {
									font-size: 14px;
									font-weight: normal;

									&.has-border {
										border-bottom: 1px solid #707070;
										padding-bottom: 4px;

										+ td {
											margin-top: 14px;
										}
									}
								}

								td {
									margin-top: 4px;
								}
							}
							.table {
								&__left {
									grid-area: left;
								}
								&__center {
									grid-area: center;
								}

								&__right {
									grid-area: right;
								}
							}

							.group {
								&-radio {
									&-1 {
										display: flex;
										flex-direction: column;
										gap: 0;
										border-bottom: 1px solid #dbd7d7;

										.fs-c-radio {
											border-top: 1px solid #dbd7d7;
											width: 100%;
											margin: 0;
											display: block;
											padding: 12px 18px;

											line-height: 1.4;
											/*position: relative;
					
											&::after {
												content: "";
												width: 100%;
												height: 1px;
												background-color: #dbd7d7;
												position: absolute;
												left: 0;
												bottom: 0;
											}*/
										}
									}

									&-2 {
										display: flex;
										//flex-direction: column;
										flex-wrap: wrap;
										gap: 0;
										border-top: 1px solid #707070;
										//border-bottom: 1px solid #dbd7d7;
										//margin-bottom: -1px;
										position: relative;

										&::after {
											content: "";
											width: 100%;
											height: 1px;
											background-color: #707070;
											position: absolute;
											left: 0;
											bottom: 0;
										}
										li {
											border-bottom: 1px solid #707070;
											width: 50%;
											margin: 0;
											display: block;
											padding: 7px 10px;

											&:nth-child(odd) {
												position: relative;

												&::after {
													content: "";
													width: 1px;
													height: 100%;
													background-color: #707070;
													position: absolute;
													right: 0;
													top: 0;
												}
											}
											/*position: relative;
					
											*/
										}
									}
								}

								&-check {
									&-1 {
										display: flex;
										flex-direction: column;
										gap: 0;
										border-bottom: 1px solid #707070;

										.fs-c-check {
											border-top: 1px solid #707070;
											width: 100%;
											margin: 0;
											display: block;
											padding: 10px 14px;
											/*position: relative;
					
											&::after {
												content: "";
												width: 100%;
												height: 1px;
												background-color: #dbd7d7;
												position: absolute;
												left: 0;
												bottom: 0;
											}*/
										}
									}

									&-2 {
										display: flex;
										//flex-direction: column;
										flex-wrap: wrap;
										gap: 0;
										border-top: 1px solid #707070;
										position: relative;

										&::after {
											content: "";
											width: 100%;
											height: 1px;
											background-color: #707070;
											position: absolute;
											left: 0;
											bottom: 0;
										}

										.fs-c-checkbox {
											border-bottom: 1px solid #707070;
											width: 50%;
											margin: 0;
											display: block;
											padding: 10px 14px;

											&:nth-child(odd) {
												position: relative;

												&::after {
													content: "";
													width: 1px;
													height: 100%;
													background-color: #707070;
													position: absolute;
													right: 0;
													top: 0;
												}
											}
											/*position: relative;
					
											*/
										}
									}
								}

								&-check-color-1 {
									display: grid;
									grid-template-rows: repeat(auto-fit, 1fr);
									grid-template-columns: repeat(3, 1fr);
									gap: 12px 12px;
									width: 100%;

									#fs_input_productSearchColor_1 + label .fs-c-checkbox__checkMark {
										background: #000;
									}
									#fs_input_productSearchColor_2 + label .fs-c-checkbox__checkMark {
										background: #fff;
									}
									#fs_input_productSearchColor_3 + label .fs-c-checkbox__checkMark {
										background: #be271b;
									}
									#fs_input_productSearchColor_4 + label .fs-c-checkbox__checkMark {
										background: #00f;
									}
									#fs_input_productSearchColor_5 + label .fs-c-checkbox__checkMark {
										background: #987154;
									}
									#fs_input_productSearchColor_6 + label .fs-c-checkbox__checkMark {
										background: #83633f;
									}
									#fs_input_productSearchColor_7 + label .fs-c-checkbox__checkMark {
										background: #fffc54;
									}
									#fs_input_productSearchColor_8 + label .fs-c-checkbox__checkMark {
										background: #c0ae98;
									}
									#fs_input_productSearchColor_9 + label .fs-c-checkbox__checkMark {
										background: navy;
									}
									#fs_input_productSearchColor_10 + label .fs-c-checkbox__checkMark {
										background: maroon;
									}
									#fs_input_productSearchColor_11 + label .fs-c-checkbox__checkMark {
										background: green;
									}
									#fs_input_productSearchColor_12 + label .fs-c-checkbox__checkMark {
										background: linear-gradient(270deg, rgba(196, 167, 86, 1) 0%, rgba(244, 236, 141, 1) 50%, rgba(196, 167, 86, 1) 100%);
									}
									#fs_input_productSearchColor_13 + label .fs-c-checkbox__checkMark {
										background: linear-gradient(270deg, rgba(189, 194, 200, 1) 0%, rgba(242, 243, 244, 1) 50%, rgba(189, 194, 200, 1) 100%);
									}
									#fs_input_productSearchColor_14 + label .fs-c-checkbox__checkMark {
										background: #656587;
									}
									#fs_input_productSearchColor_15 + label .fs-c-checkbox__checkMark {
										background: linear-gradient(to right, darken(red, 10%), darken(orange, 10%), darken(yellow, 10%), darken(green, 10%), darken(aqua, 10%), darken(blue, 10%), darken(purple, 10%));
									}

									.fs-c-checkbox {
										width: 100%;
										margin: 0;
										label {
											width: 100%;
											display: block;
											//	border: 1px solid #707070;
											position: relative;
											z-index: 0;
											border: 2px solid #fff;
											&::before {
												content: "";
												width: calc(100% - 2px);
												height: calc(100% - 2px);
												border: 1px solid #707070;
												position: absolute;
												left: 0;
												top: 0;
												z-index: 1;
											}
										}

										&__checkbox {
											&:checked {
												+ label {
													border: 2px solid #707070;
												}
											}
										}

										&__checkMark {
											display: block;
											width: 100%;
											border: none;
											border-radius: 0;
											font-size: 10px;
											text-align: center;
											padding: 4px 2px;
											height: auto;
											margin: 0;

											&::before {
												top: 0;
												bottom: 0;
												margin: auto 0;
												//height: 12px;
												left: 2px;
												display: inline-flex;
												align-items: center;
												font-size: 19px;
												//	content: "";
											}

											.label {
												font-size: 10px;
											}
											&.text {
												&-white {
													color: #fff;

													&::before {
														color: #fff;
													}
												}

												&-black {
													color: #000;

													&::before {
														color: #000;
													}
												}
											}
										}
									}
								}

								&-price {
									display: flex;
									flex-wrap: wrap;
									//	padding-left: 20px;

									.price-input {
										flex: 1;
										min-width: 20px;
										display: inline-flex;
										//	flex-wrap: wrap;
										align-items: center;

										.unit {
											width: 18px;
											margin-right: 6px;
										}

										input[type="text"] {
										}
									}

									.sep {
										width: 20px;
										text-align: center;
									}

									.select {
										flex: 1;
										min-width: 40px;
									}
								}

								&-submit {
									gap: 10px;
									display: flex;
									align-items: center;
									justify-content: center;
									//padding: 10px 10px;

									.button {
										width: calc(50% - 5px);
										&-clear,
										&-search {
											width: 100%;
											min-height: 30px;
											padding: 2px 6px;
											line-height: 1.4;
											font-size: 12px;

											letter-spacing: 0;
										}
										&-clear {
											border: 1px solid #959595;
											color: #000;
											background-color: #fff;
										}

										&-search {
											border: 1px solid #000;
											color: #fff;
											background-color: #000;

											&::before {
												content: "";
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}

				+ .header-gnav__lists {
					border-top: 1px solid #dbd7d7;
					margin-top: 24px;
					padding-top: 38px;
				}

				.is-search {
					background: inline("icon_menu_search02.svg") no-repeat left center;
					background-size: 12px auto;
					padding-left: 20px;
				}
			}
		}
	}
}
